<doctype html="">
    <title>Quartz Database</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{ url_for('static', filename='css/starter=template.css') }}" rel="stylesheet">
    <div class="container">



      <div class="starter-template">

        <h1>Quartz Database</h1>



      </div>



    </div><!-- /.container -->
{{ table }}
</doctype>

    <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">



            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>


        </div>

        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav">


            <li><a href="{{ url_for('login') }}">Login</a></li>

            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>

          </ul>

        </div><!--/.nav-collapse -->

      </div>

    </nav>





